* {
    margin: 0;
    padding: 0;
    max-width: 1000px;
    box-sizing: border-box;
}

body {
    background-color: #FCF6FC;
}

body header {
    display: flex;
    justify-content: center;
}

header section.backgroundImageHeader {
    background-image: url(assets/Rectangle\ 25.png);
    background-position: center;
    width: 501px;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body header section img.heartLogo {
    width: 190px;
    height: 186px;
}


aside.brownBackground {
    background-color: #9E6D52;
    width: 500px;
    height: 270px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

body header section img.seedlingIcon {
    height: 196px;
    width: 176px;
    grid-area: 2 / 2;
}

aside.greenBackground {
    background-color: #0A846E;
    width: 500px;
    height: 270px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

body header section img.spadeIcon {
    height: 206px;
    width: 155px;
    grid-area: 2 / 2;
}